/* Add a black background color to the top navigation */
.topnav {
 
  background-color:light rgb(100, 99, 99);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000d55;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(185, 72, 72);
  color: rgb(95, 93, 93);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(106, 122, 122, 0.342);
  color: white;
}




footer {

  
  
  width: 100%;
  scroll-padding-top: 50px;
  background-color: rgb(135, 138, 135);
  color: white;
  text-align: center;

}
#menu{
width: 80%;
padding-left: 50px;
}
#customers {
 
  border-collapse: collapse;
  width: 100%;
  
  padding-left: 50px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(118, 121, 119);
  color: white;
}
.pa{
  padding-top: 50px;
padding-bottom: 50px;
 
}

.parallax {
/* The image used */
background-image: url("car.jpg");

/* Set a specific height */
min-height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.container{
padding-left: 80px;
padding-right: 80px;
line-height: 2;


}
html{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#div1 {
display: inline-block;

}

.resize {
width:91px;
height: auto;

}


#div2 {
display: inline-block;
}


h1{
font-size: 50px;
}


img {
width: 20%;
float: left;
margin:1.66%;
}
.a{
border-left: 5px solid #b3b5b6;
padding-left: 80px;
}
#div3 {
display: inline-block;

}
#div4 {
display: inline-block;

}
#div5 {
display: inline-block;
position: sticky;
}

v-r {
height: 100%;
width: 2px;
border-left: 3px solid gray;
/*display: inline-block;*/    
/*margin: 0 auto;*/
}



.post{
border-top: 1px solid #bdc3c7;
/*margin-top: 50px;*/
}
h2 ,h3{
color: #329ce2;
}
img {
width: 30%;
float: left;
margin:1.66%;
}
#address{
width: 100%;
padding-left: 20px;
}
/* social media buttons */
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 80%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: rgb(100, 126, 184);
color: white;
}

.fa-twitter {
background: rgb(100, 126, 184);
color: white;
}



.fa-instagram {
background: rgb(100, 126, 184);
color: white;
}
.center {
margin: auto;
width: 30%;

}
